.attack_type_wrapper {

    position: absolute !important;
    bottom: 0;
    left: 0;
}

#btn_runtime {

    position: absolute !important;
    bottom: 0;
    right: 0;
}

#btn_plan_attack_town {

    position: absolute !important;
    bottom: 0;
    right: 35px;
}

#btn_attack_town {

    position: absolute !important;
    right: 0;
    width: 150px;
}

.attack_support_window .heroes_pickup .icon_border {

    position: absolute !important;
    bottom: -130px;
    right: 98px;
}

.attack_support_window .heroes_pickup .cbx_include_hero {

    position: absolute !important;
    bottom: -130px;
    right: 70px;
}